<h1>Contao Erweiterungen</h1>
{% for repo in repos %}
    {% if repo.error is defined %}
        <div class="repo-error">
            <strong>Fehler in {{ repo.repo }}:</strong> {{ repo.error }}
        </div>
    {% else %}
        <div class="repo">
            <h2>{{ repo.name }}</h2>
            <p>{{ repo.description }}</p>
            <p>
            {% for keyword in repo.keywords %}
                    #{{ keyword }}&nbsp;
                {% endfor %}
                </p>
            <p>{{ repo.created_at|date("d.m.Y") }}</p>
        </div>
    {% endif %}
{% endfor %}
